@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(3,11,69,1) 10%, rgba(13,67,126,1) 50%, rgba(80,2,153,1) 90%);
}

.container {
    width: 25%;
    height: 90vh;
    border: none;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 60px 36px rgba(0,0,0,0.2);
    transition: 1s;
}

.container:hover {
    box-shadow: 0px 0px 70px 36px rgba(0,0,0,0.4);
    transition: 1s;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh 2vh 0 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#title-text {
    font-weight: 400;
    font-size: 3vh;
    line-height: 3vh;
    color: #FFF;
}

main {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputs {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-box {
    width: 100%;
}

.select-box {
    position: relative;
}

.input-label {
    width: 100%;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 2.2vh;
    color: rgba(255, 255, 255, 0.8)
}

.select-input {
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 1vh;
    outline: none;
    font-size: 2.2vh;
    padding-left: 15%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8)
}

.select-input:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.select-input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.select-input option {
    color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.simbol-coin {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 2.2vh;
    color: rgba(255, 255, 255, 0.8)
}

#convert-button {
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 3vh;
    font-size: 2.2vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: #F4F4F4;
    cursor: pointer;
}

#convert-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#convert-button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.output {
    width: 100%;
    height: 32vh;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.output-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

img {
    height: 5vh;
    margin: 0.5vh;
}

p {
    font-size: 2vh;
    line-height: 2vh;
    color: #c5c5c5;
}

h2 {
    font-size: 2.5vh;
    line-height: 2.5vh;
    color: #c5c5c5; 
}

.arrow {
    height: 6vh;
    margin: 1vh;
    filter: brightness(50%)
}

@media screen and (max-width: 450px){
    
    html, body {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    header {
        border-radius: 0;
    }
}

